body {
    text-align: center;
    background-color: hsla(4, 26%, 13%, 0.2);
    font-family: 'Metal Mania', sans-serif;
}

.content {
    background-color: hsla(84, 100%, 59%, 0.3);
    width: 33%;
    margin: auto;
    padding-bottom: 30px;
}

h1 {
    border-bottom: solid 2px black;
    padding: 30px;
}

#cipher-btn {
    font-family: 'Metal Mania';
}

.ciphered-code, .password {
    margin: auto;
    padding: 5px;
    width: fit-content;
    background-color: hsla(84, 100%, 59%, 1);
    color: red;
}

#password-input {
    margin-bottom: 10px;
}

@media screen and (max-width: 780px) {
    .content {
        width: 90%;
    }
}